@tailwind base;
@tailwind components;
@tailwind utilities;

.main::before{
    content: attr(main);
    position: absolute;
    top: 7px;
    left: 0;
    transform: rotateX(180deg);
    line-height: 52px;
    transform-origin: bottom;
    background: linear-gradient(to top, black, transparent);
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0.4;
}

@media screen and (min-width: 425px) and (max-width: 639px){
    .main::before{
        top:-33px;
    }
}

@media screen and (min-width:640px) and (max-width: 1023px){
    .main::before{
        top: -45px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
    .main::before{
        top: -20px;
    }
}